<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<!-- we dont need to specify /public/css.... because it was already mentioned that all static files are in public, therefore  /css is enough -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body>
	<!-- <header> -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
	  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">	
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
	  			<a class="navbar-brand" href="/">Let's Travel</a>
	  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    			<ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Contacts</a>
					  </li>
					  <li class="nav-item">
				        <a class="nav-link" href="/admin">Admin Page</a>
				      </li>
	    			</ul>
				    <form class="form-inline my-2 my-lg-0 call-me-form">
				      <input class="form-control mr-sm-2" type="search" placeholder="Phone Number" aria-label="Search">
				      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Call Me</button>
				    </form>
	 			 </div>
	 		</div>	 
		</nav>	
    <!-- </header> -->
    <main>
        <div class="container sight-container">
            <h1><%= title %></h1>
            <hr>
            <img src="<%= imageURL %>" alt="bog-ben">
            <hr>
            <p class="date"><%= date %></p>
            <hr>
            <p class = "text"><%= description %></p>
            <div class="map"></div>
        </div>
	</main>
	
	
    </body>
    </html>